In [2]:
import pandas as pd
import numpy as np

### Changing options and attributes and dot Syntax

In [4]:
data = np.random.randint(0,100,[1000,50])

In [13]:
pd.DataFrame(data)

     0   1  ...  48  49
0    57  37 ...  98  59
1    34  81 ...   6  81
2    68  37 ...  51  36
3    11  89 ...   7  54
4     2  60 ...  55  54
5    17  32 ...   1  37
6    87  14 ...   5  12
7    40  18 ...  45   2
..   ..  .. ...  ..  ..
992  81  42 ...  18  81
993  54   9 ...   5   1
994   5  48 ...  69  61
995  44  60 ...  57   3
996  83  61 ...  52  79
997  33  35 ...  75  12
998  30  26 ...  78  77
999  85  82 ...   6  61

[1000 rows x 50 columns]

In [7]:
pd.options.display.max_rows = 10

In [9]:
pd.options.display.max_columns = 5

### Changing pandas Options with Methods

In [11]:
pd.get_option("max_rows")

10

In [12]:
pd.set_option("max_rows", 16)

In [16]:
pd.reset_option("max_columns")

In [19]:
pd.describe_option("max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

### The precision Option

In [22]:
df = pd.DataFrame(np.random.randn(5,5))
df

          0         1         2         3         4
0 -1.507862  1.318722 -0.740989  1.143493 -0.352338
1 -0.213648 -0.973103  1.438116 -0.744490  0.456558
2 -0.753706  0.344034  1.714487  0.686421  1.134157
3 -1.336737  1.320668 -0.559462  1.105054 -1.117615
4  1.413987  0.680455  0.438568 -1.560183  1.155768

In [23]:
pd.get_option("precision")

6

In [24]:
pd.set_option("precision", 2)

In [25]:
df

      0     1     2     3     4
0 -1.51  1.32 -0.74  1.14 -0.35
1 -0.21 -0.97  1.44 -0.74  0.46
2 -0.75  0.34  1.71  0.69  1.13
3 -1.34  1.32 -0.56  1.11 -1.12
4  1.41  0.68  0.44 -1.56  1.16

In [26]:
pd.reset_option("precision")